{% import '@helpers' as h %}

<ul class="c-accordion list-reset" aria-multiselectable="true" role="tablist" data-ui="Accordion" data-ui-options='{{ options|json_encode|raw }}'>
  {% for i in range(0, 5) %}
    <li id="item-{{ i }}-{{ key }}" data-accordion class="relative overflow-hidden bg-grey-lighter mb-0-25">
      <a role="tab" href="#item-{{ i }}-{{ key }}" data-accordion-button class="appearance-none p-0-5 w-full py-0-5 text-left font-bold no-underline text-grey-darker flex justify-content items-center">
        Panel {{ loop.index }}
      </a>
      <div data-accordion-content class="hidden border-b-2 border-blue p-0-5">
        <div class="py-1 ">
          <h2 class="mb-1">Title {{ loop.index }}</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus natus quia numquam fugit dolore, non distinctio deserunt dignissimos minus! Et.
          </p>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>