<div class="c-tabs" data-ui="tabs">
  <ul class="list-reset border-b-2 flex items-stretch">
    {% for i in range(1, 5) %}
      <li>
        <a data-tab-button href="#tab-{{ loop.index }}" class="no-underline block p-2 bg-grey-lighter hover:bg-grey text-black hover:text-grey-darkest">Tab {{ i }}</a>
      </li>
    {% endfor %}
  </ul>
  <div data-tab-container class="c-tabs__container relative overflow-hidden">
    {% for i in range(1, 5) %}
      <div data-tab-item id="tab-{{ loop.index }}" class="c-tabs__item {{ loop.index == 1 ? 'c-tab__item--active' : '' }} absolute invisible pointer-events-none pin">
        <div class="p-3">
          <header class="mb-3">
            <h2>{{ i }}. {{ lorem|title(random(10)) }}</h2>
          </header>
          <p>
            {{ lorem|lorem(random(40)) }}
          </p>
          {{ lorem|paragraphs(random(5)) }} 
        </div>
      </div>
    {% endfor %}
  </div>
</div>