{% import '@helpers' as h %}

<div class="c-tabs" data-ui="tabs">
  <ul class="list-reset flex items-stretch">
    {% for i in range(1, 5) %}
      <li>
        <a data-tab-button href="#tab-{{ loop.index }}" class="no-underline block p-0-5 bg-grey-lighter hover:bg-grey text-black hover:text-grey-darkest">Tab {{ i }}</a>
      </li>
    {% endfor %}
  </ul>
  <div data-tab-container class="c-tabs__container relative overflow-hidden">
    {% for i in range(1, 5) %}
      <div data-tab-item id="tab-{{ loop.index }}" class="c-tabs__item {{ loop.index0 == 0 ? 'c-tab__item--active' : '' }} absolute invisible pointer-events-none pin">
        <div class="py-1 px-0-5">
          <header class="mb-1">
            <h2>{{ i }}. tab content</h2>
          </header>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, libero facere, esse soluta magnam quam adipisci numquam cumque accusantium, architecto natus sequi sunt reiciendis repudiandae.
          </p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>