{% import '@helpers' as h %}


<nav class="c-nav" role="navigation" aria-label="Main menu">
  <ul class="list-reset lg:inline-flex bg-grey-lighter relative">

    {% for i in range(0, 6) %}

      <li role="menuitem" class="flex flex-wrap items-center justify-between c-nav__parent lg:border-0 lg:relative">
        <a tabindex="0" aria-haspopup="true" aria-owns="item-{{ loop.index }}" class="block no-underline p-0-5 text-grey" href="#">Item number {{ loop.index }}</a>
        
        <a href="#menu-item-{{ loop.index }}" class="c-nav__item-btn flex lg:hidden items-center justify-center text-grey">
          {{ h.symbol('ui-chevron-down') }}
        </a>

        <div id="menu-item-{{ loop.index }}" class="c-nav__dropdown z-10 bg-grey-lighter hidden pointer-events-none w-full lg:block lg:w-auto lg:absolute lg:opacity-0" role="group" aria-expanded="false" aria-labelledby="item-{{ loop.index }}" aria-hidden="true">
          <ul class="list-reset">
            {% for i in range(0, 6) %}
              <li>
                <a class="block p-0-5 text-grey no-underline whitespace-no-wrap lg:p-0-5" href="#0" tabindex="-1">Item number {{ loop.index }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>

      </li>

    {% endfor %}

  </ul>
</nav>