{% import '@helpers' as h %}

<nav id="std" class="c-nav" role="navigation" aria-label="Main menu">
  <ul class="list-reset lg:flex relative">
    {% for i in range(0, 6) %}
      <li role="menuitem" class="flex flex-wrap items-center justify-between c-nav__parent mb-1 border-b lg:border-0 lg:relative">
        <a tabindex="0" aria-haspopup="true" aria-owns="item-{{ loop.index }}" class="block text-blue hover:text-blue-darker no-underline p-2" href="#">Item number {{ loop.index }}</a>
        <a href="#menu-item-{{ loop.index }}" class="c-nav__item-btn flex lg:hidden items-center justify-center">
          {{ h.symbol('ui-chevron') }}
        </a>
        <div id="menu-item-{{ loop.index }}" class="c-nav__dropdown hidden pointer-events-none w-full lg:block lg:w-auto lg:absolute lg:opacity-0" role="group" aria-expanded="false" aria-labelledby="item-{{ loop.index }}" aria-hidden="true">
          <ul class="list-reset">
            {% for i in range(0, random(5)) %}
              <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number {{ loop.index }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </li>
    {% endfor %}
  </ul>
</nav>

