{% import '@helpers' as h %}

<div class="relative overflow-hidden {{ wrapperClass|default('') }}" data-ui="Slide" data-key="{{ uiKey|default('slide') }}" data-ui-options='{{ options|default({})|json_encode|raw }}'>
  <ul class="list-reset relative {{ listClass|default('') }}">
    {% block slides %}
    {% endblock %}
  </ul>
  {% if slides|length %}
  <button href="#0" data-slide-prev class="pin-l pin-b ml-1 mb-1 block absolute z-10 text-white">
    {{ h.symbol('ui-arrow-left') }}
  </button>
  <button data-slide-next class="pin-r pin-b mr-1 mb-1 block absolute z-10 text-white">
    {{ h.symbol('ui-arrow-right') }}
  </button>
  {% endif %}
</div>

